body {
    background-color: rgb(21, 21, 21);
}

/* Center Items */

.center {
    display: grid;
    align-items: center;
    align-content: center;
    place-items: center;
}
.center1{
    display: grid;
    align-items: center;
    align-content: center;
    place-items: center;
}

/* Nav Bar */

.list{
    display: inline-flex;
    list-style: none;
    margin-top: 5vw;
    min-height: 2vw;
}
.link{
    font-family: "";
    text-decoration: none;
    margin-left: 5vw;
    font-size: 3vw;
}
.link1{
    font-family: "";
    text-decoration: none;
    font-size: 3vw;
}

/*Text*/
h1{
    color: rgb(255, 255, 255);
    opacity: 10%;
    margin-top: 1vw;
}
h2{
    color: rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    transform: translateY(-47vw);
}
p1{
    color: white;
    font-size: 1vw;
    position: relative;
    opacity: 50%;
    transform: translateY(-2.5vw);
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all .5s;
    animation-timing-function: ease-in;
    transform:scaleY(1.1);
    user-select: none;
}
.hiddenlink{
    visibility: hidden;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform:scaleY(1);
}
@media(prefers-reduced-motion) {
    .hidden{
        transition: none;
    }
}
body{
    overflow: hidden;
}